*{
    user-select: none;
}
:root{
    --width: 800px;
    --height: 575px;
}


  #preview{
     width: var(--width) ;
      height: var(--height) ;
      background-color: #272a30;
  }

  #video_container{
      display: flex;
  justify-content: center;
  align-items: center;


   
  }
  #container_of_record_button{
       border: 5px solid #64686B;
     width: 45px;
    height: 45px;
position: absolute;
   margin-left: -2.5vw;
   top: calc(var(--height)/2 - 10vh);
     border-radius: 50%;
     display: flex;
  justify-content: center;
  align-items: center;
    
  }
  #record_button{

    display: inline-block;
    
    border-radius: 50%;
    border: none;
    width: 35px;
    height: 35px;
    background-color: red;
  
}
i:hover,button:hover{
    cursor: pointer;
}
#screenshot_button:hover{
    cursor: pointer;
    background-color: rgba(46,49,54,.8);
}
.active{
    border-radius: 5px !important;
    width: 1.25vw !important;
    height:1.25vw !important;
}
#video_container > *:not(video){
    position: absolute;

}
#screenshot_button{
    position: absolute;
    right: calc(var(--width)/3 + 2vw);
     top: calc(var(--height)/2 - 8vh);
    color: white;
    font-size: 1.7em;
    border-radius: 50%;
    background-color: rgba(46,49,54,.5);
    padding: 0.7vw;
     transition: transform 0.3s;
}



#setting_button{
    color:  white;
    font-size: 1.5em;
    position: absolute;
    left: calc(var(--width)/3 - 0.5vw);
    top: calc(var(--height)/2 - 5.75vh);
    padding: 5px
}
#full_screen_button:hover{
    font-weight: 900;
    font-size: 1.7em;

}

#full_screen_button{
    position: absolute;
    left: calc(var(--width)/3 + 4vw);
    top: calc(var(--height)/2 - 5vh);

    color: white;
    font-size: 1.5em;

}
#button_container{
    position: relative;
}

.tooltip{
background-color: #272a30;
border-radius: 7px;
width: 15vw;
color: #d7dce6;
padding: 15px;
position: relative;
margin: 0;
    right: 27.5vw;
    bottom: 20vh;
visibility: hidden;
}


.tooltip > div > button{
    width: 30px;
    background-color: #4b4d52;
        position: relative;
        border: none;
        border-radius: 15px;
        height: 17.5px;
        position: absolute;
        right: 5%;
       
}
#microphone > button{
 top: 27.5px;
}
#camera > button{
    top: 85px; 
}
.tooltip ul{
    list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
.tooltip li{
padding-left: 0.5em; 
margin-bottom: 10px;
font-size: 0.85em;
width: 90%;
}
 
.tooltip li:before{
content: "• ";
  color: #00ff8e;
}
.tooltip i{
    height: 17.5px;
    width: 17.5px;
    background-color: white;
    position: absolute;
    right: 50%;
    margin: 0;
    top: 0;
    display: inline-block;
    border-radius: 50%;
    transition: right 0.2s ease-in;
    background-color: white;
}
.button_active{
     right: 0 !important;
     background-color: #00ff8e !important;

}

#mirror_mode{
    padding-bottom: 10px;
}
#microphone,#camera,#mirror_mode{
    border-bottom: solid 1.5px rgba(70,72,78);
}
.tooltip > div{
    margin-bottom: 10px;
}


.full_screen_button_full_screen{
    margin-left: 45vw;
    left: 0 !important;
}
 
.setting_button_full_screen{
    margin-left: 41vw;
    left: 0 !important;
}
.tooltip_full_screen{
   right: 7.5vw !important;
   bottom:  8vh !important;
}

#trash_button{
    padding: 15px;
    border-radius: 50%;
    color: white;
    background-color: rgba(46,49,54,.95);
    font-size: 1.7em;
   position: absolute;
    top:25vh;
    left: 5vw;

}
#trash_button:hover{
    color: red;
    transition: color 0.2s;
}
#delete_button{
    color: white;
    background-color: rgba(39,42,48,.8);
    border-radius: 50%;
    transition: all 0.2s;
    font-size: 1.5em;
    padding: 12.5px 15px;
    position: absolute;
    left: 20vw;
    top: -40vh;
}
#delete_button:hover{
    background-color: #272a30
}
#trash_button,#delete_button{
    display: none;
    z-index: 9999;
}
#download_button{
    background-color: rgba(255,255,255,.95);
    font-size: 16px;
    display: none;
    z-index: 999;
    position: absolute;
    align-items: center;
    color: #2e3136;
    padding: 12.5px;
    border-radius: 22.5px;
    border: none;
    top: 26vh;
    left: -5vw;
    color: #272a30;
    text-decoration: none;
}
#download_button:hover{
    color: lawngreen;
}
#download_button > i{
    font-size: 1.5em;
    margin-right: 7.5px;
}

#mode_change_button{
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  padding: 2px 24px;
  position: relative;
  left: 35%;
  margin-top: 1.5%;
  font-size: 1.5em;
  width: 30%;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  touch-action: manipulation;
  will-change: transform,opacity;
}

#mode_change_button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

#mode_change_button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

#mode_change_button:focus {
  outline: none;
  border: 2px solid #4285f4;
}








